/*
    Document   : gui.css
    Created on : Feb 13, 2013, 11:52:30 PM
    Author     : james
    Description: Stylesheet for the GUI for the Button Men Online Game
*/

div {
    text-align: center;
}

div#login_header {
    text-align: left;
}

div.status_player {
    width: 100%;
}

div.status_opponent {
    width: 100%;
}

div.dice_player {
    white-space: nowrap;
}

div.dice_opponent {
    white-space: nowrap;
}

div.battle_mat_player_overlay {
    border-bottom-right-radius: 30px;
    padding: 5px 20px;
}

div.battle_mat_opponent_overlay {
    border-top-left-radius: 30px;
    padding: 5px 20px;
}

table {
    table-layout: auto;
    border: thin;
    border-collapse: collapse;
    empty-cells: hide;
    margin: auto;
}

table.spaced {
    border-collapse: separate;
    empty-cells: show;
}

table.dice {
    padding: 0px;
    spacing: 0px;
}

td {
    text-align: center;
    /*border: 1px solid black;*/
    padding: 0.2em 0.2em;
}

td.empty {
    width: 80px;
}

td.left {
    text-align: left;
}

td.chat {
    text-align: right;
}

td.chooseswing {
    vertical-align: top;
}

td.button_player {
    vertical-align: top;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

td.button_opponent {
    vertical-align: bottom;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

td.battle_mat {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

td.logtable {
    vertical-align: top;
}

th {
    text-align: center;
    /*border: 1px solid black;*/
    padding: 0.2em 2em;
    font-size: 1.1em;
    font-weight: bold;
}

input.text {
    margin: 0.2em;
}

input.swing {
    width: 20px;
}

select option.greyed {
    background-color: #aaaaaa;
}

select option.yellowed {
    background-color: #ffff00;
}

select.center {
    text-align: center;
}

.action_desc_div {
    padding: 5px;
}

.action_desc_span {
    padding: 2px 5px;
    border-radius: 5px;
}

.winner_name {
    font-size: 150%;
}

.die_border {
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    display: inline-block;
    color: blue;
    margin: 4px;
}

.die_img {
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px black solid;
    height: 49px;
    width: 49px;
    background-size: 100%;
    cursor: default;
}

.die_greyed {
    background-color: #cccccc;
    border-radius: 50%;
    color:darkslateblue;
}

.recipe_greyed {
    background-color: #cccccc;
}

.die_overlay {
    position:relative;
    font-size: 24px;
    top: 13px;
}

.die_number_player {
    color: black;
}

.die_number_opponent {
    color: black;
}

.die_recipe {
    position:relative;
    top:20px;
    color:black;
}

.die_recipe_player {
    position: relative;
    top: -48px;
    color: black;
    white-space: nowrap;
}

.die_recipe_opponent {
    position: relative;
    top: 25px;
    color: black;
    white-space: nowrap;
}

.title2 {
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.2em;
}

/* border to indicate dice selected in attacks */

.selected {
    border: 2px solid red;
}

.unselected_player {
    border-bottom-right-radius: 1em;
}

.unselected_opponent {
    border-top-left-radius: 1em;
}

/* Game lists (Overview, Game History) */
table.gameList a {
    color: black;
}

table.gameList th {
    background-color: #cccccc;
}

table.gameList td:first-child,
table.gameList th:first-child
{
  border-left: 2px solid #cccccc;
}

table.gameList td:last-child,
table.gameList th:last-child
{
  border-right: 2px solid #cccccc;
}

table.gameList tr:first-child td,
table.gameList tr:first-child th
{
  border-top: 2px solid #cccccc;
}

table.gameList tr:last-child td,
table.gameList tr:last-child th
{
  border-bottom: 2px solid #cccccc;
}

table.gameList tr.spacer td {
  border-left: none;
  border-right: none;
  border-top: 2px solid #cccccc;
  border-bottom: 2px solid #cccccc;
}

table.gameList tbody:before,
table.gameList tfoot:before {
    line-height: 1em;
    content: "-";
    color: white; /* to hide text */
    display: block;
}

table.gameList input[type=text] {
    width: 70px;
}

table.gameList select {
    max-width: 120px;
}

#history_page table.gameList th,
#history_page table.gameList thead td,
#history_page table.gameList tfoot td {
    padding: 0.2em 0.4em;
}

table.gameList span.sortButton,
table.gameList span.pageLink {
    cursor: pointer;
    margin: 0.2em;
    display: inline-block;
}

table.gameList img.calendar {
    vertical-align: middle;
    margin: 0.2em;
}