/*
    Document   : gui.css
    Created on : Feb 13, 2013, 11:52:30 PM
    Author     : james
    Description: Stylesheet for the GUI for the Button Men Online Game
*/

div {
    text-align: center;
}

div#login_header {
    text-align: left;
}

table {
    table-layout: auto;
    border: thin;
    border-collapse: collapse;
    empty-cells: hide;
    margin: auto;
}

td{
    text-align: center;
    /*border: 1px solid black;*/
    padding: 0.2em 0.2em;
}

th {
    text-align: center;
    /*border: 1px solid black;*/
    padding: 0.2em 2em;
    font-size: 1.1em;
    font-weight: bold;
}

input.text {
    margin: 0.2em;
}

input.swing {
    width: 20px;
}

.die_img {
    background-size: 50px 50px;
    width:50px;
    height:50px;
    color:blue;
    display:inline-block;
    margin:4px;
    /*border: 5px solid white;*/
}

.die_overlay {
    position:relative;
    top:16px
}

.die_recipe {
    position:relative;
    top:20px;
    color:black;
}

.selected {
    border: 2px solid red;
}

.title2 {
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.2em;
}

.unselected {
    border: 2px solid white;
}
