version: 2
jobs:
  build:
    machine:
      image: circleci/classic:latest
    steps:
      - checkout
      - run:
          name: Symlink /buttonmen
          command: sudo ln -s /home/circleci/project /buttonmen
      - run:
          name: Make sure log dir exists
          command: mkdir -p build/logs
      - run:
          name: Bootstrap puppet
          command: sudo bash deploy/vagrant/bootstrap.sh
      - run:
          name: Run puppet
          command: sudo puppet apply --modulepath=/buttonmen/deploy/vagrant/modules /buttonmen/deploy/circleci/manifests/init.pp
      - run:
          name: Audit line termination of all files in the tree to match Button Men standard
          command: python deploy/jenkins/audit_newlines.py
      - run:
          name: Audit layout of .php files in the tree to match Button Men standard
          command: php ./deploy/jenkins/audit_php_files.php .
      - run:
          name: Audit test coverage of .js files in the tree to match Button Men standard
          command: python ./deploy/jenkins/audit_js_unit_test_coverage.py
      - run:
          name: Run grunt JS lint tests
          command: sh ./util/grunt/jenkins-grunt.sh
      - run:
          name: Generate checkstyle.xml using PHP_CodeSniffer
          command: phpcs --report=checkstyle --report-file=./build/logs/checkstyle.xml --standard=./deploy/jenkins/checkstyle/buttonmen.xml ./src/api ./src/engine
      - run:
          name: Run unit tests using PHPUnit and generates junit.xml and clover.xml
          command: php /etc/php5/deploy-includes/phpunit.phar --bootstrap ./deploy/jenkins/phpunit_bootstrap.php --log-junit build/logs/junit.xml --coverage-clover build/logs/clover.xml --debug test/
      - run:
          name: Install dummy API files created by PHPUnit into test webserver
          command: sudo rsync -av src/api/dummy_data/ /var/www/api/dummy_data/
      - run:
          name: Run QUnit tests
          command: /usr/bin/phantomjs --web-security=false /usr/local/etc/run-jscover-qunit.js http://localhost/test-ui/phantom-index.html
      - run:
          name: Run python client unit tests
          command: /usr/bin/python ./test/tools/api-client/python/lib/test_bmapi.py
          environment:
            BMAPI_TEST_TYPE: circleci
      - run:
          name: Generate jdepend.xml and software metrics charts using PHP_Depend
          command: pdepend --jdepend-xml=./build/logs/jdepend.xml --jdepend-chart=./build/pdepend/dependencies.svg --overview-pyramid=build/pdepend/overview-pyramid.svg ./src
      - run:
          name: Generate pmd.xml using PHPMD
          command: php /etc/php5/deploy-includes/phpmd.phar ./src xml ./deploy/jenkins/pmd/buttonmen.xml --reportfile ./build/logs/pmd.xml
      - run:
          name: Generate phploc.csv
          command: php /etc/php5/deploy-includes/phploc.phar --log-csv ./build/logs/phploc.csv ./src
      - run:
          name: Generate API documentation using PHPDocumentor
          command: phpdoc -d ./src -i 'api/DummyApiResponder.php' -t ./build/api
      - run:
          name: Aggregate tool output with PHP_CodeBrowser
          command: php /etc/php5/deploy-includes/phpcb.phar --log ./build/logs --source ./src --output ./build/code-browser
      - store_artifacts:
          path: build

# TODO:
# * get phpcpd working again
# * get javascript code coverage testing working again using jscover or equivalent
