<html>
  <head>
    <title>Button Men code version information</title>
  </head>
  <body>
    <p>The currently installed version of the buttonmen code is <a href="https://github.com/buttonmen-dev/buttonmen/tree/<%= buttonmen_code_githash %>"><%= buttonmen_code_githash %></a>.</p>
  </body>
</html>
